<form action="/account/edit/<%= account._id %>" method="post">    
    <div>
        <label>Email</label>
        <input name="email" type="email" placeholder="<%= account.email %>" />
    </div>  

    <button type="submit">Edit User</button>
</form>