

<div class="flex-container">
<div>
    <h2> Welcome to Chat Room</h2>
<DIV class="usersList">
  
</DIV>
<div class="usernameInput">
    <input class="username" name="username" />
    <button class="createUsername">Join Room</button>
  </div>

<div class="messageBox">
  <input class="inputMessage" />
  <button class="send">Send message</button>

  <div class="typing"></div>
  <div class="messageContainer"></div>
</div>
</div>
</div>